<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bob Builder</string>
		<key>id</key>
		<string>123</string>
		<key>passcode</key>
		<string>123</string>
		<key>image</key>
		<string>123.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amy Tulip</string>
		<key>id</key>
		<string>345</string>
		<key>passcode</key>
		<string>345</string>
		<key>image</key>
		<string>345.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Joe Stamos</string>
		<key>id</key>
		<string>678</string>
		<key>passcode</key>
		<string>678</string>
		<key>image</key>
		<string>678.png</string>
	</dict>
</array>
</plist>
